{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %}    
<h1>Aircraft Summary</h1>

<a  href="{% url 'tailbase' %}">Tail Number Look up</a>
<br>
<select name="reports" id="manufactureselect">
  <option>Select Manufacture</option>
{% for item in manufacture%}
 <option value = {{item.id}}>{{item.manufacture}}</option> 
{% endfor %} 
</select>

<div id="totals">
</div>
<div id="display">
  <table class = 'center'>
    
    <tr>
        <th>Aircraft</th>
        <th>Total</th>
        <th>Avg Flight</th>
        <th># Flight</th>
        <th>Total Miles</th>
        <th>Avg Miles</th>
        <th>Total Pax</th>
        <th>Avg Pax</th>
        <th>Night</th>
        <th>Landings</th>
    </tr>
    {% for item in qs%}
    
    <tr>
        <th>{{item.aircraftype}}</th>
        <td>{{item.info.aircraftsummary.airtotal}}</td>
        <td>{{item.info.aircraftsummary.avgflight}}</td>
        <td>{{item.info.aircraftsummary.numflight}}</td>
        <td>{{item.info.aircraftsummary.totalmiles}}</td>
        <td>{{item.info.aircraftsummary.avgmiles}}</td>
        <td>{{item.info.aircraftsummary.totalpax}}</td>
        <td>{{item.info.aircraftsummary.avgpax}}</td>
        <td>{{item.info.aircraftsummary.night}}</td>
        <td>{{item.info.aircraftsummary.landings}}</td>
    </tr>
    {% endfor %}
</table> 
</div>


 <script>

document.addEventListener('input', function (event) {
     
  if (event.target.id === 'manufactureselect'){
    
    url = "{% url 'category' %}"
      $.ajax({                       
      url: url,  
      data: {
        "category":$("#manufactureselect").val()
      },
      success: function (data) {   
        $("#totals").html(data); 
      }
    });
  }


});
  
  </script>
{% endblock%}