<table class = 'center'>
    
        <tr>
            <th>Aircraft</th>
            <th>Total</th>
            <th>Avg Flight</th>
            <th># Flight</th>
            <th>Total Miles</th>
            <th>Avg Miles</th>
            <th>Total Pax</th>
            <th>Avg Pax</th>
            <th>Night</th>
            <th>Landings</th>
            <th>Last Flown</th>

        </tr>
        {% for item in qs%}
        
        <tr>
            <th>{{item.aircraftype}}</th>
            <td>{{item.info.aircraftsummary.airtotal}}</td>
            <td>{{item.info.aircraftsummary.avgflight}}</td>
            <td>{{item.info.aircraftsummary.numflight}}</td>
            <td>{{item.info.aircraftsummary.totalmiles}}</td>
            <td>{{item.info.aircraftsummary.avgmiles}}</td>
            <td>{{item.info.aircraftsummary.totalpax}}</td>
            <td>{{item.info.aircraftsummary.avgpax}}</td>
            <td>{{item.info.aircraftsummary.night}}</td>
            <td>{{item.info.aircraftsummary.landings}}</td>
            <td><a href="/logbook/view/{{item.lastflown.id}}"> {{item.lastflown.flightdate}}</a></td>

        </tr>
        {% endfor %}
</table> 
