
{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %} 
 
<body class = "text-center">
  <div class = 'searchform'>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        
    </form>
    <input type='submit' value="Add" id="addButton">
  </div>   
</body>
<script>
  
  // $("#id_typeaircraft").on("change keyup paste",function () {
  //   event.preventDefault
    
    
  //   var model = $("#id_typeaircraft").val();
  //   var url = '/aircraft/modellookup/?q='+model

  //     $.ajax({                       
  //     url: url,                    
      
  //     success: function (data) {   
  //       console.log(data)
  //       console.log(data['results'])
        
  //     }
  //   })
  // });
    
    // $("#id_typeaircraft").select2({
    //   placeholder: 'Select an Type',
    //   ajax: {
    //     delay: 250,
    //     url: '/aircraft/modellookup/',
    //     data: function (params) {
    //       var query = {
    //         q: params.term
    //       }
    //       return query;
    //       }
    //     }
        
    //   });
 
    // $(document).ready(function () {
    //   // function testing(callback)
    //     $('#id_typeaircraft').select2({
    //         ajax: {
    //             url: '{% url 'modellookup' %}',
    //             dataType: 'json',
    //             delay: 250,
    //             processResults: function (data) {
    //               console.log(data['results'])
    //               // var results = data['results'].map((data['results'])
    //               // console.log(data)
    //               // return {
    //               //     results: $.map(data, function (item) {
                        
    //               //         return {id: item.id, text: item.title};
    //               //     })
    //               // };
                  
    //               return data
    //             }
    //         },
            
    //     });
    // });

    $('#addButton').click(function (data){

      var aircraftid = $('#id_Nnumber').val()
      var urlair = '/logbook/aircraftidlookup/?q='+aircraftid
      
      var model = $('#id_typeaircraft').val()
      var url = '/aircraft/modellookup/?q='+model
      $.ajax({                       
          url: urlair,                    
          success: function (dataair) {
            if (dataair['results'].length===0){
              $.ajax({                       
              url: url,                    
              success: function (data) {   
                let aircraftmodel = data['results'][0]['id']
                
                }
              })
            }
          }
        })
          
      
    })

</script>
{% endblock%}