{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %}    
    <h1>Flight View</h1>
    
    <a href="../edit/{{flight.id}}"> {{flight.flightdate }} </a>  {{flight.aircraftId}} {{flight.departure}} - {{flight.arrival}} {{flight.flightnum}} {{flight.aircrafttype}}
    <br>Scheduled Times
    <br>{{flight.scheduleddeparttimelocal|time:"H:i"}}-{{flight.scheduledarrivaltimelocal|time:"H:i"}}  {{flight.scheduledblock}}
    <br> Actual Times
    <br> Out: {{flight.deptime|time:"H:i"}} Off:
    {{flight.offtime|time:"H:i"}} On: {{flight.ontime|time:"H:i"}} In: {{flight.arrtime|time:"H:i"}}
    <br> Pilot Times 
    <br>Total: {{flight.total}} Day: {{flight.day}} Landings: {{flight.daylandings}} Night: {{flight.night}} CX: {{flight.crosscountry}}
    <br> Pax: {{flight.passengercount}}   {{flight.distance}}NM  Rotation: {{flight.rotationid}}
    <br>Instrument Actual: {{flight.imc}} IAP: {{flight.iap}}
    <br>Captain: {{flight.captain}}
    <br>{{flight.personalcomments}}
    <a href="../delete/{{flight.id}}"> Delete </a>
    
 
{% endblock%}