{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %}    
    <h1>Logbook View</h1>

    {% for flight in flight_list %}
    
        <a href="view/{{flight.id}}"> {{flight.flightdate }} </a>  {{ flight.aircraftId}} {{flight.departure}} {{flight.arrival}} {{flight.flightnum}} {{flight.total}} <a href="edit/{{flight.id}}"> <i class="fa fa-pencil"></i></a> <br/>
        {{flight.printcomments}}{{flight.captain}}{{flight.firstofficer}}<br/>
        <hr/>
    
        {% empty %}
        <li>No objects yet.</li>
    {% endfor %}

    {% for page_number in page_obj.paginator.page_range %}
            <a
                href="{% url 'logbookdisplay'%}?page={{page_number}}"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
    {% endfor %}
 
{% endblock%}

{% block pagination %}
    
{% endblock %}

{% comment %}
{#.... **{% for page_number in page_obj.paginator.get_elided_page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{page_number}}
        {% else %}
            <a
                href="{% url 'logbookdisplay'%}?page={{page_number}}"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
        {% endif %}
    {% endfor %}
.... #}

{% endcomment %}