{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %}    
    <h1>Airline Logbook page</h1>
    <div class = 'mainlogbook'>
        <form method="post" id="form-container" departid="{% url 'autocomplete' %}">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {% crispy form %}
        </form>
        
    </div>
    <script>
        var departid = $("#form-container").attr("departid");  
        
        $('#id_aircraftId').select2();
        $('#id_departure').select2({
            ajax: {
                url: departid,
                data: function (params) {
                    var query = {
                        q: params.term,
                    }
                return query;
                }
                
            }
            });
    </script>
{% endblock%}
