{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %}    
    <h1>Summary View</h1>
    
    
    <a href="../edit/{{flight.id}}"> DAL{{flight.flightnum}} {{flight.flightdate }} </a>  {{flight.departure}} - {{flight.arrival}} {{flight.aircraftId}}-{{flight.aircrafttype}} 
    <br> Rotation: {{flight.rotationid}}
    
    <br>{% if depart %}
        Departed at {{flight.deptimelocal|time:"H:i"}} which was {{departmin}} minute(s) early of {{flight.scheduleddeparttimelocal|time:"H:i"}} scheduled
        {% else%} 
        Departed at {{flight.deptimelocal|time:"H:i"}} which was {{departmin}} minute(s) late of {{flight.scheduleddeparttimelocal|time:"H:i"}} scheduled
        {% endif %}
    
    <br>{% if arrive %}
        Arrived at {{flight.arrtimelocal|time:"H:i"}} which was {{arrivemin}} minute(s) early of {{flight.scheduledarrivaltimelocal|time:"H:i"}} scheduled
        {% else%} 
        Departed at {{flight.arrtimelocal|time:"H:i"}} which was {{arrivemin}} minute(s) late of {{flight.scheduledarrivaltimelocal|time:"H:i"}} scheduled
        {% endif %}
    <br> Block was {{flight.total}} 
        {% if flight.minutesunder %}
            under scheduled {{flight.scheduledblock}} by {{minunder}} minute(s)
        {% endif %}
    <br>Rotation Scheduled Block {{rotationinfo}}
    <br> Pax: {{flight.passengercount}}   {{flight.distance}}NM  
    <br>Captain: {{flight.captain}}
    <br>{{flight.personalcomments}}
    <a href="../delete/{{flight.id}}"> Delete </a>
    
 
{% endblock%}
