{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %}    
    <h1>Summary View</h1>
    
    
    <a href="../edit/{{flight.id}}"> {{flight.flightdate }} </a>  {{flight.departure}} - {{flight.arrival}} DAL{{flight.flightnum}}<br>{{flight.aircraftId}}  {{flight.aircrafttype}} 
    <br> Rotation: {{flight.rotationid}}
    
    <br>{{departmessage}}
    <br>{{arrivemessage}}
    <br>{{blockmessage}}

    <br>Trip Block {{actualblock}}
    <br>Trip Credit {{mainrotationinfo.rotationpay}}

    <br>Flight {% if flight.passengercount %}
            {{flight.passengercount}} 
        {% else %}
            0
        {% endif %}
        PAX   {{flight.distance}}NM  
    <br>Pax total for trip: {{passengercount}}
    <br>Distance total for trip: {{distance}}
    <br>Captain: {{flight.captain}}
    <br>{{flight.personalcomments}}
    

    <br><a href="../delete/{{flight.id}}"> Delete </a>
    
 
{% endblock%}
