
{% extends 'logbook/base.html' %}


{% block content %}
{% include 'logbook/navbar.html' %} 
<a class="nav-link" href="{% url 'sunriseset' %}">Sunrise and Set times</a>
<body class = "text-center">
    <select type="search" class="form-control rounded form-main" placeholder="Search Airport" id="airportlookup"></select>
</div>   
<div id="airportinfo">
</div>

<div id="lookupdiv"></div>
</body>
<script>
  url = '{% url "autocomplete" %}'
  $('#airportlookup').select2({
        ajax: {
            url: url,
            data: function (params) {
                var query = {
                    q: params.term,
                }
            return query;
            }
            
        }
        });
  $("#airportlookup").on("select2:select", function (e){
    url = "{% url 'searchairport' %}"
    $.ajax({                       
    url: url,  
    data: {
        "lookup": e.params.data,
        "option": "airport"
    },
    success: function (data) {   
        $("#airportinfo").html(data); 
    }
    });

    url = "{% url 'airportlookup' %}"
    $.ajax({                       
    url: url,  
    data: {
        "lookup": e.params.data,
        "option": "airport"
    },
    success: function (data) {   
        $("#lookupdiv").html(data); 
    }
    });

})
  url = "{% url 'topairports' %}"
                $.ajax({                       
                url: url,  
                data: {
                },
                success: function (data) {   
                    $("#lookupdiv").html(data); 
                }
                });
</script>
{% endblock%}