html,
body {
  height: 100%;
}

.body-main {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-main {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-main input[type="search"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.extra-class{
  width: 30px;
}

#schedulebox{
  height: 40em;
  width:20em;
  white-space: pre;
}

#display {

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.heading {
  background-color: aqua;

}
table, th, td, tr {
  padding: 5px;
  text-align: center;
  border-width: 2px;
  border: solid rgb(7, 6, 6);
  font-weight: 200;
}
